.form {
  text-align: right;
}

.form button {
  font-family: var(--main-font);
  cursor: pointer;
  background-color: var(--header-bg);
  border: 1px solid #8a2b06;
  color: var(--card-comp);
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #641e03;
}
